        .silver-background{
            background-color: #F2F3F4;
        }
        h1{text-align:center;
        }
        h2{text-align:center;
            color: red
        }
        figcaption{text-align:center;
        }
        .imag{
           border-radius: 500px;
        }
        .border{
            border-color:black;
            border-width:0px;
            border-style: solid;
            border-radius: 500%;
        }
        .red-text {
        color: red;
        }
        h3{
            text-align:center;
        }
        
        p {
            height: 100%;
            margin-left: 10%;
            margin-right: 10%;
            padding: 0;
            font: 15px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 300;
            color: #605242;
            
            background-color: #f7ec89fa;
        }
        ol{
            margin-left: 20%;
            margin-right: 20%;
        }
        img { display: block; margin: auto;

        }